{% if site.use_jquery_cdn == true %}
	<!-- scripts -->
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>window.jQuery || document.write('<script src="{{site.baseurl}}/assets/js/jquery.min.js" }}"><\/script>')</script>
{% endif %}
<script>
//opens non-local links in new window
window.onload=function(){
$('a:not([href^="{{site.baseurl}}"]):not([href^="#"]):not([href^="/"])').attr("target","_blank");
};

</script>
<script src="{{site.baseurl}}/assets/js/concatenated-scripts.js"></script>


{% if page.url contains '/en/' %}
	{% assign url  = site.categories.books %}
{% else %}
	{% assign url = site.categories.boker %}
{% endif %}

