/* open-sans-300normal - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Open Sans Light '), local('Open Sans-Light'), url(/fonts/open-sans-latin-300.woff2) format('woff2'),  url(/fonts/open-sans-latin-300.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-300italic - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local('Open Sans Light italic'), local('Open Sans-Lightitalic'), url(/fonts/open-sans-latin-300italic.woff2) format('woff2'),  url(/fonts/open-sans-latin-300italic.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-400normal - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Open Sans Regular '), local('Open Sans-Regular'), url(/fonts/open-sans-latin-400.woff2) format('woff2'),  url(/fonts/open-sans-latin-400.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-400italic - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local('Open Sans Regular italic'), local('Open Sans-Regularitalic'), url(/fonts/open-sans-latin-400italic.woff2) format('woff2'),  url(/fonts/open-sans-latin-400italic.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-600normal - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Open Sans SemiBold '), local('Open Sans-SemiBold'), url(/fonts/open-sans-latin-600.woff2) format('woff2'),  url(/fonts/open-sans-latin-600.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-600italic - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local('Open Sans SemiBold italic'), local('Open Sans-SemiBolditalic'), url(/fonts/open-sans-latin-600italic.woff2) format('woff2'),  url(/fonts/open-sans-latin-600italic.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-700normal - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Open Sans Bold '), local('Open Sans-Bold'), url(/fonts/open-sans-latin-700.woff2) format('woff2'),  url(/fonts/open-sans-latin-700.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-700italic - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local('Open Sans Bold italic'), local('Open Sans-Bolditalic'), url(/fonts/open-sans-latin-700italic.woff2) format('woff2'),  url(/fonts/open-sans-latin-700italic.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-800normal - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local('Open Sans ExtraBold '), local('Open Sans-ExtraBold'), url(/fonts/open-sans-latin-800.woff2) format('woff2'),  url(/fonts/open-sans-latin-800.woff) format('woff'); /* Modern Browsers */
}

/* open-sans-800italic - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: local('Open Sans ExtraBold italic'), local('Open Sans-ExtraBolditalic'), url(/fonts/open-sans-latin-800italic.woff2) format('woff2'),  url(/fonts/open-sans-latin-800italic.woff) format('woff'); /* Modern Browsers */
}

/* Base - Variables: tailwind-config.js */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */


strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font size in all browsers.
 */

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
h1,
h2,
p {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  margin: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #dae1e7;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

img {
  max-width: 100%;
  height: auto;
}

input::placeholder {
  color: inherit;
  opacity: .5;
}

button,
[role="button"] {
  cursor: pointer;
}

/* Modules */

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.color-inherit {
  color: inherit;
}

p {
  margin-bottom: 1rem;
}

p a:link,
p a:active,
p a:visited {
  /* This blue has a 4.77 contrast ratio on white 4.56 on near-white */
  color: #1a76c1;
}

p a:hover {
  color: #12283a;
}

.btn {
  font-weight: 700;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: .25rem;
  text-decoration: none;
  border-width: 1px;
  display: inline-block;
  margin-bottom: .5rem;
}

/* @import "modules/_hugo-internal-templates"; */

/* purgecss start ignore */

@media (min-width: 992px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    height: 100vh;
  }

  header {
    width: 30%;
  }

  .content {
    margin-left: 30%;
  }

  .flex-direction {
    flex-direction: column;
  }
}

/* purgecss end ignore */

.list-reset {
  list-style: none;
  padding: 0;
}

.bg-primary-color {
  background-color: #83292f;
}

.bg-primary-color-light {
  background-color: #962f36;
}

.bg-grey-lighter {
  background-color: #f3f3f3;
}

.hover\:bg-primary-color-light:hover {
  background-color: #962f36;
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.border-grey {
  border-color: #b8c2cc;
}

.rounded {
  border-radius: .25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-b {
  border-bottom-width: 1px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.self-end {
  align-self: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.float-left {
  float: left;
}

.font-sans {
  font-family: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.h-full {
  height: 100%;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.leading-loose {
  line-height: 2;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.mx-1 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-0 {
  margin-left: 0;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-32 {
  margin-bottom: 8rem;
}

.max-w-xl {
  max-width: 60rem;
}

.min-h-100 {
  min-height: 25rem;
}

.min-h-screen {
  min-height: 100vh;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.-ml-3 {
  margin-left: -0.75rem;
}

.-ml-4 {
  margin-left: -1rem;
}

.overflow-x-auto {
  overflow-x: auto;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pin-t {
  top: 0;
}

.pin-r {
  right: 0;
}

.pin-b {
  bottom: 0;
}

.text-center {
  text-align: center;
}

.text-black {
  color: #22292f;
}

.text-grey-darkest {
  color: #3d4852;
}

.text-grey-darker {
  color: #606f7b;
}

.text-grey {
  color: #b8c2cc;
}

.text-grey-lightest {
  color: #f8fafc;
}

.text-white {
  color: #fff;
}

.text-blue-dark {
  color: #2779bd;
}

.hover\:text-grey-darker:hover {
  color: #606f7b;
}

.hover\:text-grey-light:hover {
  color: #dae1e7;
}

.hover\:text-white:hover {
  color: #fff;
}

.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: .875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.no-underline {
  text-decoration: none;
}

.tracking-wide {
  letter-spacing: .05em;
}

.align-baseline {
  vertical-align: baseline;
}

.w-full {
  width: 100%;
}

/* Use the site file to define common component classes or to prevent duplicate sets of classes in templates. */

/* Use the site file to define common component classes or to prevent duplicate sets of classes in templates. */

/* Add your styles here. You can import  */

/* USE PURGE CSS ON ABOVE CODE ONLY. ANYTHING BETWEEN THE IGNORE TAGS WILL NOT BE IGNORED
https://www.purgecss.com/whitelisting#in-the-css-directly */

/* purgecss start ignore */

/* BODY */

.font-primary {
  font-family: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,
.body-color {
  background-color: #f3f3f3;
  color: #3d4852;
}

footer {
  padding: 1rem;
  margin-top: 8rem;
  font-size: .75rem;
  color: #8795a1;
}

footer a,
footer div {
  display: inline-block;
  padding-left: .5rem;
  padding-right: .5rem;
}

footer a:hover {
  color: #606f7b;
}

.flex-direction {
  /* @apply items-end; */
  align-items: flex-start;
}

nav li a.active {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
}

.page-heading {
  font-size: 2.25rem;
}

/*
PAGES
*/

.page-list_default,
.page-single_default {
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
}

/* BOOKS */

.btn-buylinks {
  font-size: .75rem;
  font-family: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #22292f;
}

.btn-buylinks:hover {
  background-color: #22292f;
  color: #fff;
}

/* purgecss end ignore */

@media (min-width: 768px) {

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:w-3\/5 {
    width: 60%;
  }
}

@media (min-width: 992px) {

  .lg\:border {
    border-width: 1px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:mt-0 {
    margin-top: 0;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:pt-2 {
    padding-top: .5rem;
  }

  .lg\:pb-16 {
    padding-bottom: 4rem;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
  }

  .lg\:text-5xl {
    font-size: 3.5rem;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:w-3\/5 {
    width: 60%;
  }

  .lg\:w-full {
    width: 100%;
  }
}

@media (min-width: 1200px) {

  .xl\:h-100 {
    height: 25rem;
  }

  .xl\:min-h-100 {
    min-height: 25rem;
  }

  .xl\:text-base {
    font-size: 1rem;
  }

  .xl\:text-5xl {
    font-size: 3.5rem;
  }
}

