// ------------------------------------------------------------
// Settings

// :: Breakpoints
// :: Colour
// :: Typography
// :: Borders
// :: Spacing
// ------------------------------------------------------------


// ------------------------------------------------------------
// :: Breakpoints
// ------------------------------------------------------------

// a-z viewports. Place where design should change, not always on device widths
// Hat-tip to @hereinthehive for getting us thinking about naming suggestions

$a-vp								: 300px;	// first viewport
$b-vp								: 420px;	// up one
$c-vp								: 600px;	// up two
$d-vp								: 900px;	// up three
$e-vp								: 1100px;	// up four
$f-vp								: 1300px;	// up five
$ie-fixed-vp						: 980px;    // Viewport for IE fixed width

$max-vp 							: $f-vp; 	// max viewport. Syntactically makes for a nicer option


// At some point, you'll want to switch from a one column view to multi-column.
// This variable is used in the grid to dictate when you make that switch
$start-columns 						: $b-vp;


// ------------------------------------------------------------


// Define your main colour palette using whatever naming system you like
$jack-black							: #333;
$macy-grey							: #777;
$ron-burgundy 						: #e0006e;
$al-green 							: #67b2b1;
$beige-ruth 						: #f5f0e0;
$agent-orange 						: #c64f24;
$betty-blue 						: #a8d9f4;
$kind-of-blue: #062029;


// Assign colours to variable roles
// Be descriptive without being specific.
// This allows for consistency project to project, and easy changing

$body-color 						: #fff;
$base-color							: $macy-grey;
$heading-color						: $jack-black;
$hightlight-color 					: $betty-blue;

$action								: $agent-orange;
$action-respond						: $al-green;

$primary: #962F36;


// ------------------------------------------------------------
// :: Typesizes/scale
// ------------------------------------------------------------

// Greek alphabet naming system. Obscure, yet hierarchical.
// Allows us to avoid naming based on html object.
// Eg. A h1 can be smaller visually, than a h4.
$alpha   	: 42px;
$beta		: 32px;
$gamma		: 28px;
$delta		: 26px;
$epsilon	: 24px;
$zeta		: 20px;
$eta		: 18px;
$theta		: 16px;
$iota 		: 14px;
$kappa 		: 12px;


$para		: $theta; 	// Paragraph size
$quote		: $beta;	// Quote size



// ------------------------------------------------------------
// :: Border widths
// ------------------------------------------------------------

$default-border-width 				: 1px;


// ------------------------------------------------------------
// :: Grid variables
// ------------------------------------------------------------

$internal-spacing-percent 			: 3%;		// Used by grid system
$internal-spacing					: 40px; 	// Space internally with fixed measure



// ------------------------------------------------------------
// Add functional stuff
// ------------------------------------------------------------
@import "libs/functions/functions";



// sidebar-nav

//////////// NEED MAX WIDTH WRAPPER AROURNOUND INTEIRE SITE
$include-sidebar-right: false !default;
$include-sidebar-left: true !default;

//These must be in % values to calculate widths
$sidebar-width: 30% !default;
$sidebar-right-width: 20% !default;
$sidebar-left-breakpoint: $d-vp !default;
$sidebar-right-breakpoint: $e-vp !default;

$sidebar-color-background: $primary;//#062029 !default;
$sidebar-color: #CCC !default;
$sidebar-left-background: #101010 ;
//url(/assets/img/test.jpg) left top repeat-x;// #101010;//url(/assets/img/illustrated-background-pattern.png) repeat center center;//#062029;//transparent;
$sidebar-right-color-background: transparent;//#fff !default;
$sidebar-right-color: #555 !default;
$sidebar-right-background: #000;


///////////////// BOOTSTRAP NAV ////////////////////////////

$grid-float-breakpoint: $c-vp;
$navbar-border-radius: 0;
$grid-gutter-width: 40px;
$line-height-computed:28px;
$screen-xs-min: $b-vp;
$font-size-large:20px;

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             2em; //$line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
//$navbar-default-brand-color:               $navbar-default-link-color !default;
//$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;
