// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "settings";
@import "libs/mixins";
// @import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*";



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	//@include debug-vertical-alignment;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
	//background: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d5b2dfdf619_1.JPG) repeat center center;

}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);

footer#content-info {
	background-color: #000;
}

footer ul li {
	display:inline;
}

.sharing {
	margin-top: 4em;
}
@mixin shadow-light {
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.40);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.40);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.40);
}


/* ::Import styles */
/* ------------------------------------------------------------ */
@import "libs/typography"; 					// Base level typography

@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/article"; 					// Grid system
@import "add-ons/section"; 					// Grid system
@import "add-ons/navigation-side"; 					// Grid system
@import "add-ons/buttons";
@import "add-ons/page-splash";
@import "add-ons/font-icons";
//@import "add-ons/code";
@import "add-ons/panel";
.sidebar-left p {
	text-align: center;
	padding: 2em;
}


nav {
	padding-top:2em;
}

.row {
	position: relative;
	width: 100%;
	margin: 0;
	@include clearfix;
}


body.home article img, .books-list-covers img {
	//allows us to use smaller cover images on the homepage
	@include shadow-light;
}

body.home article img {
	max-height: 240px;
}


.books-list-covers img{
max-height: 180px;
}
article.hentry hr {
	clear: both;
}

.img {@include shadow-light;}

img.cover-image-editions {
max-height:120px;
float:left;
margin-right:1em;
@include shadow-light;
margin-bottom: 2em;
overflow: visible;
}
.book-covers {
	z-index: 50;
	overflow: visible;
}
img.cover-image-editions:hover  {
	-webkit-transform: scale(3.0);
  -moz-transform: scale(3.0);
  -o-transform: scale(3.0);
  transform: scale(3.0);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  z-index: 50;

}

.splash_book .book-cover:hover {
	-webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  z-index: 500;
  overflow: visible;
}


.listings {
  table {
    @include table-scaffolding;
  }
}
.right, td.right {
	text-align: right;
}


.cover-4 {
	display: none;
}
@include respond-to($e-vp, $IE9: false) {
.cover-4 {
	display: block;
}
  
}

/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
