
{% if page.url contains '/en/' %}
<div class="row" style="overflow:visible;margin-top:5%;margin-bottom:auto;">
{% for cover in site.categories.books limit: '5' %}
	<a href="{{cover.url}}">
		<img src="/assets/img/cover/{{cover.cover_image}}">
	</a>
{% endfor %}
</div>


{% else %}
<div class="row" style="overflow:visible;margin-top:5%;margin-bottom:auto;">
{% for cover in site.categories.boker limit: '5' %}
	<a href="{{cover.url}}">
		<img src="/assets/img/cover/{{cover.cover_image}}" style="margin-right:2em;max-height:200px;">
	</a>
{% endfor %}
</div>


{% endif %}
