<div class="row">
{% if page.url contains '/en/' %}

{% for cover in site.categories.books limit:4 %}
	<a href="{{cover.url}}">
		<img src="/assets/img/cover/{{cover.cover_image}}" style="margin-right:2.2em;">
	</a>
{% endfor %}
<h5><a href="/books/">click here to see all books</a></h5>

{% else %}

{% for cover in site.categories.boker limit:4 %}
	<a href="{{cover.url}}">
		<img src="/assets/img/cover/{{cover.cover_image}}" style="margin-right:2.2em;">
	</a>
{% endfor %}
<h5><a href="/boker/">Klikk her for å se alle bøker</a></h5>

{% endif %}
</div>