
{% assign count = '0' %}






{% if page.url contains '/en/' %}
<div class="row">
{% for cover in site.categories.books limit:4 %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	<a href="{{cover.url}}">
		<img src="/assets/img/cover/{{cover.cover_image}}" class="cover-{{count}}" style="margin-right:1em;">
	</a>
{% endfor %}
</div>
<h5><a href="/en/books/">click here to see all books</a></h5>

{% else %}
<div class="row">
{% for cover in site.categories.boker limit:4 %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	<a href="{{cover.url}}">
		<img src="/assets/img/cover/{{cover.cover_image}}" class="cover-{{count}}"  style="margin-right:1em;">
	</a>
{% endfor %}
</div>
<h5><a href="/boker/">Klikk her for å se alle bøker</a></h5>

{% endif %}
