<nav>
  <ul class="nav">
    {% if page.url contains '/en/' %}
      <li class="sidebar-nav-item{% if page.url == '/en/'  %} active{% endif %}"><a href="/en/">Home</a></li>
      {% for item in site.data.navigation %}  
      {% assign slug = {{item.slug-en}} %}
        <li class="sidebar-nav-item{% if page.url contains /slug/  %} active{% endif %}">
          <a href="/en/{{slug}}">
            {{item.name-en}}
          </a>
        </li>
      {% endfor %}
    {% else %}
      <li class="sidebar-nav-item{% if page.url == '/'  %} active{% endif %}"><a href="/">Hjem</a></li>
      {% for item in site.data.navigation %}  
      {% assign slug = {{item.slug}} %}
        <li class="sidebar-nav-item{% if page.url contains /slug/  %} active{% endif %}">
          <a href="/{{slug}}/">
            {{item.name}}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
 {% if site.facebook_id %}
    <a href="https://www.facebook.com/{{site.facebook_id}}">
      <span class="screen-reader-text">Facebook</span>
      <i class="fa fa-facebook-square fa-lg icon-facebook-squared"></i>
    </a>
  {% endif %}
  {% if site.twitter_id %}
    <a href="https://twitter.com/{{site.twitter_id}}">
      <span class="screen-reader-text">Twitter</span>
      <i class="fa fa-twitter-square fa-lg icon-twitter-squared"></i>
    </a>
  {% endif %}
  {% comment %}Toggle between languages{% endcomment %}
  <div class="button-group">
    <a href="{% if page.english %}/en/{{page.english}}/{% else %}/en/{% endif %}" ><div class="button transparent center{% if page.url contains '/en/' %} active{% endif %}">Eng</div></a>
    <a href="{% if page.norsk %}/{{page.norsk}}/{% else %}/{% endif %}" ><div class="button transparent center{% unless page.url contains '/en/' %} active{% endunless %}">Nor</div></a>
  </div>
</nav>