<div class="cbp-af-header">
    <div class="cbp-af-inner">
        <h1>Linn Ullman</h1>
        <nav>


<!--           "An elegant stylist with an original voice she is especially good at capturing moments of poignancy, often with a trace of gallows of humor"
— New York Times Book Review -->

            <a href="/books/">Books</a>
            <a href="/news/">News & Interviews</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </nav>
    </div>
</div>
