<aside class="sidebar-left">
	<header>
		<h1>
			<a href="{% if page.url contains '/en/' %}{{site.baseurl}}/en/{% else %}{{site.baseurl}}{% endif %}">
				{{site.sitename}}
			</a>
		</h1>
		{% if page.url contains '/en/' %}
		{% for item in site.data.quote-sidebar limit: '1' %}
			<p class="quote"><span>“</span>{{item.quote}}<span>”</span> <br />
				<em>— {{item.source | markdownify | remove: '<p>' | remove: '</p>' }}</em>
			</p>
		{% endfor %}
		{% else %}
			{% for item in site.data.quote-sidebar-no limit: '1' %}
				<p class="quote"><span>“</span><small>{{item.quote}}</small><span>”</span> <br />
					<em>— {{item.source | markdownify | remove: '<p>' | remove: '</p>' }}</em>
				</p>
			{% endfor %}

		{% endif %}
	</header>
	{% include nav/navigation.html %}
</aside>
<!-- /aside left -->