article.hentry {

  padding: 1.5rem;
  margin:auto;
  max-width: $d-vp;
  //min-height: $c-vp;
  overflow: hidden;

  @include respond-to($c-vp, $IE9: false) {
    padding: 2rem 7rem;
  }

  header {
  margin-bottom: .5em;
  }

//TYPOGRAPHY
  p:first-child,
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p,
  hr + p
  {
    text-indent: 0;
  }

  p {
  text-indent: 1.5rem;
  }

  // the dev class on an article doesn't have indented paragraphs, but has space between them.
  .dev {
  p {
  margin-bottom: 1.25em;
  text-indent: 0;
  }
  }



  blockquote {
  @extend .as-blockquote--typeset ;

  }

  img:first-child {

  @include respond-to($b-vp, $IE9: false) {
    float: left;
    margin: .5em 1.4em 1.5em 0;

  }


  }


}
