  section {
    //padding: 1.5rem;
    margin:auto;
    max-width: $d-vp;
    //min-height: $c-vp;
    overflow: hidden;

    @include respond-to($c-vp, $IE9: false) {
    //padding: 2rem 7rem;
    }

  }

  a section.title-only {
    padding: 1em 1em .5em 1em;
    border-bottom:1px solid #eee;
  }

  a:hover section.title-only {
    background-color:#f6f6f6;
  }

  h1.bigtitle{
    display:inline-block;
    font-weight: 300;
    font-size: 38px;
  }

//???
  .quote-small {font-size:12px;float:right;
    display:inline;
  }

  a .quote-small {
    color:#ddd;
  }
