{% if page.previous.url %}
	<a href="{{ page.previous.url }}" style="display:inline-block;margin:.5em auto 0 auto;">
		<i class="icon-left-circled"></i>
	</a>
{% endif %}
{% if page.next.url %}
	<a href="{{ page.next.url }}" style="display:inline-block;margin:.5em auto 0 auto;">
		<i class="icon-right-circled"></i>
	</a>
{% endif %}



<script>
document.body.onkeyup = function(e){

	{% for link in books %}
		{% if link.name == page.next_book %}
			if (e.keyCode == '37') { window.location = '{{ page.next.url }}'; }
		{% endif %}
		{% if link.name == page.previous_book %}
			if (e.keyCode == '39') { window.location = '{{ page.previous.url }}'; }
		{% endif %}
	{% endfor %}
};
</script>
