{% if page.url contains '/en/' %}
  {% assign review = site.reviews | where: 'en_book', page.slug %}
{% else %}
  {% assign review = site.reviews | where: 'no_book', page.slug %}
{% endif %}

{% for object in review  %}
  {% assign quotes_featured = object.quotes | where: "featured", true | reverse  %}
  {% assign quotes = object.quotes | where_exp: "item", "item.featured != true"  | reverse  %}

  {% for review in quotes_featured   %}
    {% include books/format-reviews.html %}
  {% endfor %}

  {% for review in quotes   %}
    {% include books/format-reviews.html %}
  {% endfor %}

{% endfor %}
