@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, .footnotes li, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

h1 {
  color: #062029;
}

h3 {
  color: #262626;
}

h4, .list h5 {
  color: #262626;
}

object, embed, iframe {
  max-width: 100% !important;
}

hr {
  margin: 1em auto;
  border: 0;
  border-top: 1px solid #EEEEEE;
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: white;
  color: #777777;
}

a {
  color: #c64f24;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #67b2b1;
}
a:not(> img) {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

footer#content-info {
  background-color: #000;
}

footer ul li {
  display: inline;
}

.sharing {
  margin-top: 4em;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.font-body, body {
  font-family: Lato, 'Open Sans', sans-serif, sans-serif;
}

.font-var, small, .footnotes li {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 1em;
  line-height: 1.375em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

h1, h2, h3, h4, h5, p.quote {
  font-weight: 300;
}

nav {
  font-weight: 300;
  text-transform: lowercase;
}

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

sup, sub {
  font-size: 0.75em;
  line-height: 1.4666667em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

small, .footnotes li {
  font-size: 0.75em;
  line-height: 1.4666667em;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote, article.hentry blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p, article.hentry blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 1em;
  line-height: 1.375em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.55em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.55em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote, article.hentry blockquote {
  margin: 0.825em 0;
}

article.hentry {
  padding: 1.5rem;
  margin: auto;
  max-width: 900px;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  article.hentry {
    padding: 2rem 7rem;
  }
}
article.hentry header {
  margin-bottom: .5em;
}
article.hentry p:first-child,
article.hentry h1 + p,
article.hentry h2 + p,
article.hentry h3 + p,
article.hentry h4 + p,
article.hentry h5 + p,
article.hentry h6 + p,
article.hentry hr + p {
  text-indent: 0;
}
article.hentry p {
  text-indent: 1.5rem;
}
article.hentry .dev p {
  margin-bottom: 1.25em;
  text-indent: 0;
}
@media screen and (min-width: 420px) {
  article.hentry img:first-child {
    float: left;
    margin: .5em 1.4em 1.5em 0;
  }
}

section {
  margin: auto;
  max-width: 900px;
  overflow: hidden;
}

a section.title-only {
  padding: 1em 1em .5em 1em;
  border-bottom: 1px solid #eee;
}

a:hover section.title-only {
  background-color: #f6f6f6;
}

h1.bigtitle {
  display: inline-block;
  font-weight: 300;
  font-size: 38px;
}

.quote-small {
  font-size: 12px;
  float: right;
  display: inline;
}

a .quote-small {
  color: #ddd;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999999;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
.content {
  min-width: 0;
  margin-left: 0;
}
@media screen and (min-width: 900px) {
  .content {
    min-width: 420px;
    margin-left: 30%;
  }
}

.sidebar-left {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: static;
  color: #777;
}
.sidebar-left header {
  height: 400px;
  max-height: 400px;
  background-color: #554f45;
  color: #999999;
  padding-top: 7%;
}
.sidebar-left header p {
  max-width: 400px;
  margin: auto;
  font-size: 94%;
  line-height: 1.6;
}
.sidebar-left header p em {
  font-size: 80%;
}
.sidebar-left h1 {
  text-transform: uppercase;
  color: #062029;
  letter-spacing: 4px;
  font-size: 4em;
  margin: 0;
  line-height: 1.3;
  font-weight: 300;
}
.sidebar-left h1 a {
  color: #062029;
}
.sidebar-left a {
  color: #999;
}
@media screen and (min-width: 900px) {
  .sidebar-left {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
  }
}

.sidebar-right {
  display: none;
}

.sidebar-left {
  text-align: center;
  padding: 0;
  background-color: #062029;
  background: #101010;
  color: #cccccc;
  /* Sidebar nav */
}
.sidebar-left .sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-left .sidebar-nav-item {
  display: block;
  padding-top: .35em;
  padding-bottom: .35em;
}
.sidebar-left .sidebar-nav-item:hover,
.sidebar-left .sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-left .sidebar-nav-item.active a {
  color: #787878;
}
.sidebar-left hr {
  margin: 1em auto;
  border-top: 1px solid #082a36;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999999;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
.button {
  border: 0 none;
  border: 1px solid #444;
  border-radius: 2px 2px 2px 2px;
  color: #ececec;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  /* auto */
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
}
.button.red {
  background: none repeat scroll 0 0 #e0645c;
  color: #ececec;
}
.button.red:hover {
  background: none repeat scroll 0 0 transparent;
  color: #ececec;
}
.button.dark {
  background: none repeat scroll 0 0 #444444;
  color: #ececec;
}
.button.dark:hover {
  background: none repeat scroll 0 0 #2db6cf;
  color: #ececec;
}
.button.light {
  background: none repeat scroll 0 0 transparent;
  color: #ececec;
}
.button.light:hover {
  background: none repeat scroll 0 0 #444444;
  color: #ececec;
}
.button.green {
  background: none repeat scroll 0 0 #46b98a;
  color: #ececec;
}
.button.green:hover {
  background: none repeat scroll 0 0 #444444;
  color: #ececec;
}
.button.blue {
  background: none repeat scroll 0 0 #2db6cf;
  color: #ececec;
}
.button.blue:hover {
  background: none repeat scroll 0 0 #444444;
  color: #ececec;
}

.sidebar-left p {
  text-align: center;
  padding: 2em;
}

.splash {
  height: 400px;
  max-height: 400px;
}

nav {
  padding-top: 2em;
}

body.home article img {
  max-height: 200px;
}

/* ::Print */
/* ------------------------------------------------------------ */
