---
new_page_extension: md
auto_deploy: false
admin_path: admin
webhook_url: 
sections:
- type: heading
  label: EN
- type: document
  path: content/en/_index.md
  label: Home
- type: directory
  path: content/en/events
  label: Events
  create: documents
  match: "**/*"
  templates:
  - event
- type: directory
  path: content/en/news
  label: News
  create: documents
  match: "**/*"
  templates:
  - news
- type: directory
  path: content/en/books
  label: Books
  create: documents
  match: "**/*"
  templates:
  - book
- type: directory
  path: content/en/reviews
  label: Reviews
  create: documents
  match: "**/*"
  templates:
  - review
- type: heading
  label: 'NO'
- type: directory
  path: content/no/events
  label: Events
  create: documents
  match: "**/*"
  templates:
  - event
- type: directory
  path: content/no/nyheter
  label: Nyheter (News)
  create: documents
  match: "**/*"
  templates:
  - news
- type: directory
  path: content/no/boker
  label: Boker (Books)
  create: documents
  match: "**/*"
  templates:
  - book
- type: directory
  path: content/no/anmeldelser
  label: Anmeldelser (Reviews)
  create: documents
  match: "**/*"
  templates:
  - review-no
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
version: '0.53'
