<header class="overflow-x-auto text-grey bg-primary-color text-grey-lightest font-light">

  <section class=" xl:h-100 px-4 pt-10 pb-4 lg:pb-16 bg-primary-color-light xl:min-h-100 flex flex-col items-center justify-between">
    <a href="/" class="font-sans text-grey-lightest hover:text-white font-light no-underline uppercase tracking-wide text-3xl lg:text-4xl xl:text-5xl text-center"> 
      {{.Site.Title}}
    </a>
    
    <div class="py-4 hidden md:block font-sans ">
				{{$reviews := where (.Site.RegularPages) "Section" "review"}}					
				{{/* Not sure if we want to shuffle, becuase older reviews that don't get unchecked will then show up, and they seem to want one recent review.
					{{$reviews := (where ($reviews) ".Params.show_on_sidebar" true) |shuffle}}					 */}}
				{{$reviews := (where ($reviews) ".Params.show_on_sidebar" true)}}					
				{{ range first 1 $reviews }}
					<div class="bg-primary-color-light py-4 px-8 mb-4 text-sm xl:text-base">
						{{ partial "_components/quote-fancy-sidebar.html" . }} 
					</div>
				{{ end }}
			
    </div>

  </section>
	
	<section class="px-4 py-4 lg:py-16 text-center">

		{{ if .IsTranslated }}			
			<ul class="list-reset mb-8 text-sm lg:relative absolute pin-t pin-r mt-2">
				{{ range .Translations }}				
					<li class="inline-block">
						<a href="{{ .Permalink }}" class="rounded mx-1 text-xs no-underline text-grey-lightest lg:border border-grey px-2 py-2">
								{{ .Language.LanguageName }}
						</a>
					</li>
				{{ end}}
			</ul>
		{{ end }}
	    
		{{- partial "_global/menu.html" (dict "page" . "menu" "main") -}}

	</section>
  
</header>
