<header class="overflow-x-auto text-grey bg-primary-color text-grey-lightest font-light">

  <section class="px-4 pt-10 pb-4 lg:pb-16 bg-primary-color-light xl:min-h-100 flex flex-col items-center justify-between">
    <a href="/" class="font-sans text-grey-lightest hover:text-white font-light no-underline uppercase tracking-wide text-3xl lg:text-4xl xl:text-5xl text-center"> 
      {{.Site.Title}}
    </a>
    
    <div class="px-4 xl:px-16 py-8 hidden md:block font-sans ">

				{{ partial "_components/quote-fancy.html" . }}

        <blockquote class="font-light leading-tighft text-sm leading-normal">
            A brilliant meditation on time, mortality, and the limits of memory…Ullmann’s prose is elegant…sharp, and occasionally funny. But the mood of this work as a whole is elegiac. ‘Can I,’ she asks, ‘mourn people who are still alive?’ Gorgeous and heartbreaking.
        </blockquote>
        <div class="text-sm font-medium mt-3 leading-tight ml-4">
            — fra juryens begrunnelse i anledning av nominasjonen til Nordisk Råds Litteraturpris
        </div>
    </div>

  </section>
	
	<section class="px-4 py-4 lg:py-16 text-center">
		{{/* TODO: Style active state for translated page */}}
		<ul class="list-reset mb-8 text-sm lg:relative absolute pin-t pin-r mt-2">
			{{ range $.Site.Home.AllTranslations }}
				<li class="inline-block">
					<a href="{{ .Permalink }}" class="rounded mx-1 text-xs no-underline text-grey-lightest lg:border border-grey px-2 py-2">
						{{- .Language.LanguageName -}}
					</a>
				</li>
			{{ end }}
		</ul>
			    
		{{- partial "_global/menu.html" (dict "page" . "menu" "main") -}}

	</section>
  
</header>
