{{ $currentPage := .page }}
{{ $menu := index .page.Site.Menus (.menu) }}
{{ with $menu }}
  <nav aria-label="{{ $.menu }}" class="w-full mb-2">
    <ul name="{{ $.menu }}" class="list-reset text-lg w-full">
      {{ range . }}
        <li class="{{ .Identifier }} inline lg:block lg:w-full leading-loose">
          <a class="color-inherit {{ if eq ($currentPage.URL | absLangURL) (.URL | absLangURL) }} active{{ end }} lg:block color-inherit h-full text-base px-2 py-2 rounded leading-none hover:bg-primary-color-light no-underline w-full text-grey hover:text-grey-light" href="{{.URL | absLangURL}}" title="{{ .Name }} page">
            {{ .Name }}
          </a>          
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
{{/*
TODO (BP): Make menu show active menu within sections. Using "in" above may not be accurate.
*/}}