---
layout: default
section: book
---
{% if page.url contains '/en/' %}
  {% assign review = site.reviews | where: 'en_book', page.slug %}
{% else %}
  {% assign review = site.reviews | where: 'no_book', page.slug %}
{% endif %}

{% if page.url contains '/en/' %}
  {% assign language = 'en' %}
{% endif %}

<section class='splash_book'>
  {% include books/cover.html %}

  {% for object in review limit: 1 %}
  {% assign quotes = object.quotes | reverse  %}
    {% for review in quotes limit: 1  %}
      {% include books/format-reviews.html %}
      {% if review.size > 0 %}
      {% assign show_link = true  %}
      {% endif %}
    {% endfor %}
  {% endfor %}

{% if show_link %}
  <div>
    <a href="#reviews">
      &#10553;<small>
        {% if page.url contains '/en/' %}more reviews{% else %}skrevet{% endif %}
      </small>
    </a>
  </div>
{% endif %}


</section>


<article class="hentry page-layout">
  <header>
    <hr />
    <h1 class="page-title" style="display:inline-block;margin:0;">
      {% if page.title %} {{page.title}} {% endif %}
    </h1>
        <div style="text-align:right;float:right;display:inline;">{% include books/prev-next.html %}</div>
    <hr />

      {% if page.subtitle %}<h2>{{page.subtitle}}</h2>{% endif %}
      {% if page.translator %}
        <h5>{% if page.url contains '/en/' %}Translated by {% else %}Oversatt av {% endif %}{{page.translator}}</h5>
      {% endif %}
  </header>
  {{content}}
  <hr />
  {% include snippets/news-list-book-page.html show="20" language="language" %}
  {% if page.covers %}
    <h3>Editions</h3>
    <div class="book-covers row">
      {% for fgn_covers in page.covers %}
        <img src="/uploads/{{fgn_covers}}" class="cover-image-editions">
      {% endfor %}
    </div>
  {% endif %}
  {% if page.published or page.rights or page.world_rights %}
    <div class="panel row">
      {% if page.published  %}
        {% if page.url contains '/en/' %}<h5>Published In</h5>{% else %}<h5>Utgitt i</h5>{% endif %}
          {{page.published | array_to_sentence_string }}<br /><br />{% endif %}
        {% if page.rights %}<h5>Rights Sold To</h5> {{page.rights}}<br /><br />{% endif %}
        {% if page.meta %}{{page.meta}}<br /><br />{% endif %}
        {% if page.world_rights %}{{page.world_rights | markdownify }}{% endif %}
    </div>
  <hr />
  {% endif %}
  <div class="row">
    {% if show_link %}
    <h3 id="reviews">{% if page.url contains '/en/' %}Praise for {% else %}Skrevet om {% endif %}<em>{{page.title}}</em></h3>
    {% for object in review  %}
      {% assign quotes_featured = object.quotes | where: "featured", true | reverse  %}
      {% assign quotes = object.quotes | where_exp: "item", "item.featured != true"  | reverse  %}

      {% for review in quotes_featured   %}
        {% include books/format-reviews.html %}
      {% endfor %}

      {% for review in quotes   %}
        {% include books/format-reviews.html %}
      {% endfor %}

    {% endfor %}

    {% endif %}
  </div>
</article>
<div class="row">
<h3 style="margin-left:2.5em;">Other Books</h3>
{% include books/books-list-titles.html %}
</div>
