{% if page.no_book %}
  {% capture no_url %}/boker/{{ page.no_book }}{% endcapture %}
{% endif %}

{% if page.en_book %}
  {% capture en_url %}/en/books/{{ page.en_book }}{% endcapture %}
{% endif %}

<nav>
{% comment %}Toggle between languages{% endcomment %}
  <div class="button-group">

    <a href="{% if page.en_landing_page %}/en/{{ page.en_landing_page }}/{% elsif en_url %}{{ en_url }}{% else %}/en/{% endif %}" >
      <div class="button transparent center{% if page.url contains '/en/' %} active{% endif %}">
        Eng
      </div>
    </a>


    <a href="{% if page.no_landing_page %}/{{ page.no_landing_page }}/{% elsif no_url %}{{ no_url }}{% else %}/{% endif %}" >
      <div class="button transparent center{% unless page.url contains '/en/' %} active{% endunless %}">
        Nor
      </div>
    </a>

  </div>
  <ul class="nav">
    {% if page.url contains '/en/' %}
      <li class="sidebar-nav-item{% if page.url == '/en/'  %} active{% endif %}"><a href="/en/">Home</a></li>
      {% for item in site.data.navigation %}
      {% assign slug = {{item.slug-en}} %}
        <li class="sidebar-nav-item{% if page.url contains /slug/  %} active{% endif %}">
          <a href="/en/{{slug}}">
            {{item.name-en}}
          </a>
        </li>
      {% endfor %}
    {% else %}
      <li class="sidebar-nav-item{% if page.url == '/'  %} active{% endif %}"><a href="/">Hjem</a></li>
      {% for item in site.data.navigation %}
      {% assign slug = {{item.slug}} %}
        <li class="sidebar-nav-item{% if page.url contains /slug/  %} active{% endif %}">
          <a href="/{{slug}}/">
            {{item.name}}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
 {% if site.facebook_id %}
    <a href="https://www.facebook.com/{{site.facebook_id}}">
      <span class="screen-reader-text">Facebook</span>
      <i class="fa fa-facebook-square fa-lg icon-facebook-squared"></i>
    </a>
  {% endif %}
  {% if site.twitter_id %}
    <a href="https://twitter.com/{{site.twitter_id}}">
      <span class="screen-reader-text">Twitter</span>
      <i class="fa fa-twitter-square fa-lg icon-twitter-squared"></i>
    </a>
  {% endif %}

</nav>
