<blockquote class="review" {% if post.link_to_original %}cite='{{ review.link_to_original }}'{% endif %}>
 <p class="quote"><span>“</span>{{ review.quote | markdownify | remove: '<p>' | remove: '</p>' | | strip_newlines }}<span>”</span></p>{% if review.source %}<small>— {% if review.link_to_original %}<a href="{{ review.link_to_original }}">{{review.source | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }} <i class="icon-link-ext"></i></a>{% else %}{{review.source | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}{% endif %}{% if page.url == "/reviews/" or page.url == '' %}
  on
  {% for page in site.categories.book %} 
    {% if review.book == page.name %}
      <a href="{{page.url}}"><em>{{page.title}}</em></a>
    {% endif %}
	 {% endfor %}
  {% endif %}
	</small>
	{% endif %}
</blockquote>