{% if language == 'en' %}{% comment %}IF TEMPLATE PULLS ENGLISH{% endcomment %}
  {% for review in site.data.reviews-en %}  
    {% if page.name == review.book %}
      {% if  review.featured != true and review.category != 'best' %}{% comment %}Featured Reviews are up top so pull them out, best below{% endcomment %}
        {% include books/format-reviews.html %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %} {% comment %}ELSE SHOW NON ENGLISH REVIEWS{% endcomment %}
  {% for review in site.data.reviews %}  
    {% if page.name == review.book %}
      {% if  review.featured != true and review.category != 'best' %}
        {% include books/format-reviews.html %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}