---
layout: default
section: book
---
<section class="page-layout">





{% assign count = '0' %}

  {% for link in site.categories.books limit:19 %}
    







      {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    
      
        

        <a href="{{link.url}}">{{link.title}} {{count}}</a><br />


      





    



    
  {% endfor %}


<hr /><hr />


























    <header>
        <h1 class="page-title">
            {% if page.title %} {{page.title}}  {% endif %}
        </h1>
    </header>
    
                {% include books/related-review.html show="1" %}
                {% include books/cover-meta.html %}
                {% include books/buy_links.html %}
                {% include books/title.html %}
    
</section>