---
layout: default
section: book
---
{% if page.url contains '/en/' %}
  {% assign language = 'en' %}
{% endif %}
<section class='splash_book'>
  {% include books/cover.html %}
  {% include books/related-review.html show="1" language="language" %}
</section>
<article class="hentry page-layout">
  <header>
    <hr />
      <h5 style="display:inline;">{{page.category}}</h5>
        <div style="text-align:right;float:right;display:inline;">{% include books/prev-next.html %}</div>
    <hr />
    <h1 class="page-title">
      {% if page.title %} {{page.title}} {% endif %}
    </h1>
    {% if page.subtitle %}<h2>{{page.subtitle}}</h2>{% endif %}
    {% if page.translator %}
    <h5>{% if page.url contains '/en/' %}Translated by {% else %}Oversatt av {% endif %}{{page.translator}}</h5>
    {% endif %}
  </header>
  {{content}}
  <hr />
  <h3>Editions</h3>
  <div class="book-covers row">
    {% for fgn_covers in page.covers %}
      <img src="/assets/img/cover/{{fgn_covers}}" class="cover-image-editions">
    {% endfor %}
  </div>
  <div class="panel row">
    
    {% if page.published  %}
      {% if page.url contains '/en/' %}<h5>Published In</h5>{% else %}<h5>Utgitt i</h5>{% endif %}
      {{page.published | array_to_sentence_string }}<br /><br />{% endif %}

    {% if page.rights %}<h5>Rights Sold To</h5> {{page.rights}}<br /><br />{% endif %}
    {% if page.meta %}{{page.meta}}<br /><br />{% endif %}
    {% if page.world_rights %}{{page.world_rights | markdownify }}{% endif %}
  </div>
  <hr />
  <div class="row">
    <h3>{% if page.url contains '/en/' %}Praise for {% else %}Skrevet om {% endif %}<em>{{page.title}}</em></h3>
    {% include books/related-reviews.html language="language" %}
  </div>
</article>
<div class="row">
<h3 style="margin-left:2.5em;">Other Books</h3>
{% include books/books-list-titles.html %}
</div>