---
layout: default
section: list
---
{% if page.splash_image %}
<div class='col12 splash' style="width:100%;background-image:url({{site.baseurl}}/assets/img/{{page.splash_image}});background-position:50% 20%;"></div>
{% endif %}
<article class="hentry">
<header>
    {% if page.title %}
    <h1 class="entry-title headline">{{page.title}}</h1>
    {% endif %}
    {% if page.subtitle %}
    <h2>
      {{page.subtitle}}
    </h2>
    {% endif %}
   </header> 
   {{content}}



</article>
	{% if page.include %}
	  {% include {{page.include}} %}
	{% endif %}

	
