<div class="row">
	<div class="column-wrapper">
{% if page.url contains 'en' %}
<hr />
<h3 style="padding-left:3em;">Events</h3>
<hr />

	{% for item in site.data.events reversed %}
		{% if item.language contains 'english' %}
			{% include snippets/news-list-formatting.html %}
		{% endif %}
	{% endfor %}
{% else %}
<hr />
<h3 style="padding-left:3em;">samtaler</h3>
<hr />
	{% for item in site.data.events reversed %}
		{% if item.language contains 'norsk' %}
			{% include snippets/news-list-formatting.html %}
		{% endif %}
	{% endfor %}
{% endif %}
	</div>
</div>