<div class="row">
	{% for images in site.data.portraits %}
		{% if images.image_full_size %}
			<div style="float:left;display:inline-block;margin:2em 2em 0 0;height:410px;">
				<a href="/assets/img/{{images.image_full_size}}">
					<img src="/assets/img/{{images.image}}" style="max-width:230px;margin:0;" class="img">
				</a>
				<br />
				{% if images.source %}
					<small>
						{% if page.url contains '/en/' %}
							Photo: 
						{% else %}
							Foto: 
						{% endif %}
						{{images.source}}
					</small>
					<br />
				{% endif %}
				<a href="/assets/img/{{images.image_full_size}}">
					{% if page.url contains '/en/' %}
						<small>
							Download Hi-res version</small>
					{% else %}
						<small>
							Last ned høyoppløselig versjon
						</small>
					{% endif %}	
				</a>
			</div>
		{% else %}
			<div style="float:left;display:inline-block;margin:2em 2em 0 0;height:440px;">
				<img src="/assets/img/{{images.image}}" style="max-width:230px;margin:0;">
				{% if images.source %}
					<small>
						{% if page.url contains '/en/' %}
							Photo: 
						{% else %}
							Foto: 
						{% endif %}
						{{images.source}}
					</small>
				<br />
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>
