	<div style="width:17%;text-align:right;padding-right:1em;border-right:1px solid #fff;display:inline-block;float:left;">
				<small>{{item.date | date: "%Y-%b-%d" }}</small> 
			</div>
			<div style="width:82%;display:inline-block;float:left;min-height:3em;padding-bottom:1.5em;">
				<h2 class="h6" style="display:inline;">
					{% if item.link_to_original %}
						<a href="{{item.link_to_original}}">{{item.title}} </a>
					{% elsif item.file %}
						<a href="/assets/files/{{item.file}}">{{item.title}} </a>
					{% else %}
						{{item.title}}
					{% endif %} {% comment %}<small>({{item.language}})</small>{% endcomment %}
			 	</h2>
 				<div style="display:inline-block;margin-left:.25em;">
					{% if item.link_to_original %}
						<small>
							<a href="{{item.link_to_original}}">
								<i class="icon-link-ext"></i>
							</a>
						</small>
					{% endif %}
					{% if item.file %}
						<small>
							<a href="/assets/files/{{item.file}}">
								<i class="icon-download"></i> 
							</a>
						</small>
					{% endif %}
				</div>
			<br />
				<small>
				{% if item.summary %}
					{{item.summary | markdownify }}
				{% endif %}
				</small>
			</div>
			<hr /> 
