{% comment %}
TODO: make the switch between en/norsk more efficient (prob. just use title/title_norks, to determine placement instead of language field)
TODO: add headings? or other dilineation
{% endcomment %}


{% if page.url contains '/en/' %}
	{% assign title = item.title  | markdownify | remove: '<p>' | remove: '</p>'  %}
{% else %}
	{% if item.title_norsk %}
		{% assign title = item.title_norsk  | markdownify | remove: '<p>' | remove: '</p>'  %}
	{% else %}
		{% assign title = item.title  | markdownify | remove: '<p>' | remove: '</p>'  %}
	{% endif %}
{% endif %}

<div class="item-wrapper">
<ul class="column-item-list">
	<li class="h6f" style="margin-bottom:4px;">
		{% if item.link_to_original %}
			<a href="{{item.link_to_original}}" target="_blank">{{title}}</a>
		

		{% elsif item.file || item.file-en %}
			<a href="/assets/files/{{item.file}}" target="_blank">{{title}}</a>
		


		{% else %}
			{{title}}
		{% endif %} {% comment %}<small>({{item.language}})</small>{% endcomment %}
		<small>{{item.date | date: "%Y-%b-%d" }}</small> 
 	
		<div class="item">
		{% if item.link_to_original %}
			<small>
				<a href="{{item.link_to_original}}">
					<i class="icon-link-ext"></i>
				</a>
			</small>
		{% endif %}
		{% if item.file %}
			<small>
				<a href="/assets/files/{{item.file}}">
					<i class="icon-download"></i> 
				</a>
			</small>
		{% endif %}
	</div>
</li>
</ul>
</div>
