{% assign book = {{ page.name }} %}
{% assign count = '0' %}
<div class="row">
	<div class="column-wrapper">
		{% for item in site.data.news %}
			{% if item.book contains book %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
					{% if count == '1' %}
						<h3>{% if page.url contains '/en/' %}News & Interviews{% else %}Nyheter og intervjuer{% endif %}</h3>
					{% endif %}
				{% include snippets/news-list-formatting-small.html %}
		{% endif %}
	{% endfor %}
	</div>
	<hr />
</div>
